{% extends "../node_modules/govuk-frontend/govuk/template.njk" %}

<html lang="en" class="govuk-template">
  <script>
    nunjucks.configure([
      "node_modules/govuk-frontend/",
      "YOUR-VIEWS-FOLDER"
    ])
  </script>
  {% set themeColor = "blue" %}
  {% set bodyClasses = "no-js" %}
  {% set serviceName = "Docs As Code - Nunjucks"%}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="{{themeColor}}"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
  </head>

  <body>
    {{ content | safe }}

  </body>

</html>